
{% extends "layout.html" %}
  
{% block y %}
<center>
<div  style="background-color: gainsboro; 
                margin: 40px;
                padding: 20px; border-radius: 10px;
                width: 50%; ">
   <h1> REGISTER NEW </h1>
  <div class="testbox">
  
   <br>
   <form action="/login" method="post" enctype = "multipart/form-data" style="border-radius: 10px;" >
    <br>  
    <input placeholder="Name" autocomplete="off" type="text" name="name">
    <br>  
    <div class="btn-block">
        <button type="submit" name="Register" >Register</button>
   </form>
  </div>
  </div>
  </center>
{% endblock %}